
body {
  background-color: #F5DEB3;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #FFD700;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #FFB90F;
}
